<!DOCTYPE html>
<html>
<head>
    <title>Evolve Technologies</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 10%;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO EVOLVE TECHNOLOGIES</h1>
    <p>THIS IS EXAMPLE FOR DOCKER INTEGRATION WITH JENKINS</p>
    <p>IF YOU SEE THIS PAGE YOU SHOULD FEEL LIKE A CHAMP..</p>
</body>
</html>
